.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  min-width: 250px;
  max-width: 350px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

.menu-item img {
  max-width: 200px;
  margin: 0 auto;
}

.menu-item p {
  font-size: 14px;
}

@media (max-width: 576px) {
  .menu-item img {
    max-width: 100px;
  }
}
